name: Build (Windows / MSYS2)

on:
  push:
    paths:
      - 'asset/**'
      - 'SNEEDIF/**'
      - 'meson.build'
      - '.github/workflows/windows.yml'
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 1

    - uses: msys2/setup-msys2@v2
      with:
        msystem: mingw64
        update: true
        pacboy: >-
          cmake:p
          meson:p
          gcc:p
          vapoursynth:p
          boost:p
          opencl-icd:p

    - name: Configure and build
      run: |
        meson setup builddir --buildtype release
        meson compile -C builddir

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: SNEEDIF-win64
        path: builddir/libsneedif.dll
